{% extends "_layout" %}

{% set title = "All Products" %}

{% set products = craft.entries.section('products') %}

{% block content %}
	<div class="breadcrumb-container">
		<div class="container">
			<ul class="breadcrumbs">
				<li>home</li>
				<li>products</li>
			</ul>
		</div>
	</div>
	<div class="container big-pad-bottom">

			{% for row in products|batch(4) %}

			<div class="row">
				{% for product in row %}
					<div class="grid-3">
						<a href="{{ url('/products/' ~ product.category.first.slug ~ '/' ~ product.slug) }}" class="inverse">
							{% if product.productImage | length %}
								<img src="{{ product.productImage.first.url }}" alt=""/>
							{% endif %}
							<p class="text-center">{{ product.title }} <span class="icon-right-arrow"></span></p>
						</a>
					</div>
				{% endfor %}
			</div>
			{% endfor %}
	</div>
{% endblock %}
